.tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 38px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    color: #444;
    background-color: #fff;
}

.tabs {
    display: flex;
    align-items: center;
    flex: 1;

    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .tab-item {
        display: inline-flex;
        padding: 8px 10px 6px;
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
        align-items: center;
        border-bottom: 3px solid transparent;

        &.actived {
            color: skyblue;
            border-bottom: 3px solid skyblue;
        }

        &:first-child {
            cursor: text;
        }
    }

    &::-webkit-scrollbar {
        height: 1px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }
}

.tabs-actions {
    display: flex;
    align-items: center;
    padding-right: 10px;

    .add {
        cursor: pointer;
        padding: 0 10px;
        font-size: 24px;
    }
}

.tabs-container.dark {
    border-bottom: 1px solid #333;
    color: #fff;
    background-color: #000;

    .tab-item {
        &.actived {
            color: skyblue;
        }
    }

    .tabs::-webkit-scrollbar-track {
        background-color: #333;
    }

    .tabs::-webkit-scrollbar-thumb {
        background-color: #333;
    }
}

.tab-item-input {
    width: 90px;
    padding: 4px 0 4px 10px;
    font-size: 13px;
    color: #444;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    outline: none;
}

.tabs.dark .tab-item-input {
    color: #fff;
    background-color: #333;
}